fpdf==1.7.2
imbalanced-learn==0.9.1
imblearn==0.0
matplotlib==3.3.4
mplfinance==0.12.7a17
mplsoccer==1.0.6
mpmath==1.2.1
numpy==1.20.1
pandas==1.2.4
plotly==5.3.1
scikit-image==0.18.1
scikit-learn==1.1.1
seaborn==0.11.1
scipy==1.6.2
statsbombpy==1.4.3
statsmodels==0.12.2
streamlit==1.10.0
streamlit-aggrid==0.2.3.post2
xgboost==1.5.2
